.dash-container {
  display: grid;
  grid-template-columns: 15vw 85vw;
  height: calc(100vh - 4.5rem);
  margin-top: -1rem;
  column-gap: 5rem;
}

.dash-nav {
  position: fixed;
  width: 15vw;
  height: 100%;
  background-color: var(--container-background);
}

.dash-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.dash-list-item {
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.dash-list-item:hover {
  background-color: var(--main-background);
}

.dash-nav-link {
  display: block;
  width: 100%;
  padding: 1rem;
  text-decoration: none;
  color: var(--font-light);
  overflow: hidden;
}

.active-dash {
  text-decoration: none;
  background-color: rgba(232, 185, 35, 0.7);
}

.dash-ham {
  position: fixed;
  left: 0;
  padding: 0.4rem 0.8rem;
  font-size: 2.2rem;
  border: 1px solid var(--font-light);
  background-color: var(--container-background);
  cursor: pointer;
  color: var(--font-light);
  display: none;
  transition: left 400ms ease-in-out;
}

.left {
  left: 0;
}

@media screen and (max-width: 1500px) {
  .dash-nav {
    width: 20vw;
  }
}

@media screen and (max-width: 1100px) {
  .dash-container {
    position: relative;
    grid-template-columns: 0 100vw;
    column-gap: 0;
  }
  .dash-nav {
    position: fixed;
    top: 4.5rem;
    height: 100%;
    z-index: 10;
    width: 13rem;
    left: 0;
    transition: left 400ms ease-in-out;
  }
  .dash-ham {
    display: block;
  }
  .left {
    left: -13rem;
  }
}
