.user-page-container {
  grid-column: 2;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  color: var(--font-light);
  font-size: 1.5rem;
}

.up-rev-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.up-rev {
  width: 80%;
  padding: 0.4rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  background-color: var(--container-background);
  border-radius: 0.4rem;
  position: relative;
}

.under-l {
  text-decoration: underline;
}

.rev-sort {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.rev-sort-options-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom: 1px solid rgba(232, 185, 35, 0.4);
  padding: 0.1rem 0.5rem;
}

.rev-sort-options {
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  top: 2rem;
  left: 0;
  font-size: 1.1rem;
  width: 10rem;
  background-color: rgba(60, 62, 73, 0.6);
  border: 1px solid var(--font-light);
}

.d-flex {
  display: flex;
}

.rev-sort-option {
  padding: 0.5rem;
  cursor: pointer;
}

.rev-sort-option:hover {
  color: rgba(232, 185, 35, 0.8);
  background-color: var(--main-background);
}

.rev-trash {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  color: #f00;
  opacity: 0.8;
  cursor: pointer;
}

.rev-trash:hover {
  opacity: 0.5;
}

.up-confirm {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  color: var(--font-light);
  background-color: var(--main-background);
  font-size: 1rem;
  padding: 0.4rem;
  border-radius: 0.3rem;
  border: 1px solid rgba(255, 0, 0, 0.6);
  cursor: pointer;
  z-index: -1;
}

.up-confirm:hover {
  border-color: #f00;
}

.z-1 {
  z-index: 1;
}

.manage {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.manage-btn {
  color: var(--font-light);
  background-color: var(--container-background);
  border: 1px solid rgba(232, 185, 35, 0.4);
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 0.9rem;
  border-radius: 0.1rem;
}

.manage-btn:disabled {
  opacity: 0.3;
}

.manage-btn:hover {
  background-color: rgba(60, 62, 73, 0.6);
}

.up-del {
  color: rgba(255, 0, 0, 0.9);
}

.up-btn-container {
  display: flex;
  gap: 0.2rem;
}

.up-unreport {
  border-color: rgba(232, 185, 35, 0.6);
  padding: 0.4rem;
  margin-bottom: -0.7rem;
  width: 5rem;
}

.up-unreport:hover {
  border-color: rgba(232, 185, 35, 1);
}

.up-rev-desc {
  word-wrap: break-word;
  padding-right: 1.5rem;
}

@media screen and (max-width: 1100px) {
  .user-info {
    align-items: center;
  }
  .up-rev-container {
    width: 100%;
    align-items: center;
  }
}
