.form-wrapper {
  width: 60vw;
  height: 45rem;
  background-color: var(--container-background);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-inline: auto;
  padding-bottom: 10rem;
}

.form-title {
  color: var(--font-light);
  margin: 2rem 0;
  font-size: 3rem;
}

.form-container {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  gap: 1.5rem;
}

.input-container {
  width: 100%;
  position: relative;
}

.form-input {
  width: 100%;
  background-color: var(--container-background);
  margin-bottom: 1rem;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  border: none;
  border-bottom: 1px solid var(--font-light);
  color: var(--font-light);
}

.form-input:focus {
  outline: none;
}

.form-input:user-invalid {
  border-bottom: 1px solid #f00;
}

.form-input:user-valid {
  border-bottom: 1px solid #0f0;
}

.input-label {
  display: flex;
  color: var(--font-light);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  opacity: 1;
  cursor: text;
  transition: bottom 200ms ease-in-out, opacity 100ms ease-in-out,
    left 200ms ease-in-out;
}

.input-label-active {
  opacity: 0.7;
  bottom: 3rem;
  left: 0;
}

.submit-btn {
  color: var(--font-dark);
  background-color: var(--font-light);
  padding: 0.7rem 3rem;
  margin-top: 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.submit-btn:hover {
  opacity: 0.7;
}

.password-eye {
  color: var(--font-light);
  font-size: 1.5rem;
  position: absolute;
  bottom: 1.5rem;
  right: 0.6rem;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.password-eye:hover {
  background: none;
}

.google-button {
  margin-top: 2rem;
}

.err-msg {
  width: 100%;
  height: 1rem;
  color: #f00;
  font-family: Arial, Helvetica, sans-serif;
  margin: -1.5rem 0 0.2rem 0;
}

.label-required {
  align-self: flex-start;
  font-size: 0.8rem;
  color: #f00;
}

.forgot-link {
  color: var(--font-light);
  margin-top: -0.7rem;
  text-decoration: underline;
  align-self: flex-start;
  cursor: pointer;
}

.forgot-link:hover {
  color: var(--nav-search);
}

@media screen and (max-width: 1001px) {
  .form-wrapper {
    width: 80vw;
  }
  .form-container {
    width: 60%;
  }
}

@media screen and (max-width: 500px) {
  .form-wrapper {
    width: 90vw;
  }
  .form-container {
    width: 80%;
  }
  .submit-btn {
    margin-top: 2rem;
  }
  .err-msg {
    height: 2.5rem;
  }
}
