.cartpage-container {
  margin-left: 5rem;
  margin-top: 7rem;
  display: grid;
  grid-template-columns: 50% 30% 20%;
}

.cart-items-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.remove-cart-item {
  color: #f00;
  font-size: 1.5rem;
  cursor: pointer;
}

.remove-cart-item:hover {
  opacity: 0.7;
}

.user-quantity {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.4rem;
}

.quantity-select {
  cursor: pointer;
  background-color: var(--font-light);
  border: 1px solid rgba(232, 185, 35, 0.8);
  border-radius: 0.3rem;
  width: 2rem;
}

.cart-items-container > .row-card {
  width: 90%;
  height: 10rem;
}

.cart-items-container > .row-card > .image-container {
  width: 15rem;
}

.cart-price-wrapper {
  grid-column: 3;
  color: var(--font-light);
  border-left: 1px solid rgba(232, 185, 35, 0.3);
  display: flex;
  justify-content: center;
}

.cart-price {
  width: 70%;
  background-color: var(--container-background);
  height: 10rem;
  border-radius: 0.4rem;
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  gap: 1rem;
}

.checkout-btn {
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .cartpage-container {
    grid-template-columns: 100%;
    margin-left: 0;
  }
  .cart-items-container {
    align-items: center;
  }
  .cart-price-wrapper {
    grid-column: 1;
    border: none;
    justify-content: center;
  }
  .cart-price {
    width: auto;
    padding: 3rem;
    border: 1px solid rgba(232, 185, 35, 0.3);
  }
  .cart-items-container > .row-card {
    flex-direction: column;
    width: 60%;
    height: auto;
  }
  .cart-items-container > .row-card > .image-container {
    width: 100%;
  }
  .cart-items-container
    > .row-card
    > .card-content
    > .content-props
    > .edit-btns {
    margin: 0;
    position: static;
  }
  .cart-items-container > .row-card > .card-content {
    gap: 0;
  }
  .cart-items-container > .row-card > .card-content > a > .card-header {
    padding: 0.5rem;
    -webkit-line-clamp: 2;
  }
  .checkout-props {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .cart-items-container > .row-card > .card-content > .content-props {
    justify-content: flex-end;
  }
  .quantity-select {
    font-size: 0.8rem;
    width: 4.5rem;
  }
}

@media screen and (max-width: 500px) {
  .cart-items-container > .row-card {
    width: 80%;
  }
}
